.form-control{
    width: 600px;
    margin-left: 20px;
    border-radius: 3px;
}
.fa-search{
    position: absolute;
    right: 48%;
    z-index: 10;
    color: blue;
    bottom: 48%;
    font-size: 20px;
}
